.has-dropdown {

  // just in case whatever gets this class
  // isn't already relatively positioned
  // this is for proper .dropdown positioning
  position: relative;

  // reset link hover effect for dropdowns
  .nav__link:hover {
    background-color: initial;
    color: initial;
  }

  &:hover .dropdown {
    display: block;
  }
}

.dropdown {
  display: none;
  position: absolute;
  z-index: 100;
  top: 6em;
  border-radius: $global-border-radius;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  background-color: white;

  @include absolute-center(360px);

  // arrow atop the dropdown
  @include arrow(
    $selector: ':before',
    $size: 20px,
    $z-index: 99,
    $direction: top
  );

  // this prevents the dropdown from hiding if you hover from the
  // nav list item over the gap that surrounds the arrow on top of
  // the dropdown.  hacky, but it works.

  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    top: -$global-space-unit;
    height: $global-space-unit;
    background-color: transparent;
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    padding: $global-space-unit;
    border-bottom: 2px solid #eee;
  }

  &__list {
    height: 220px;
    overflow-y: scroll;
  }
}
