.rsvp {

  // nifty UX fakery
  &:checked {
    & ~ .rsvp-yes { font-weight: 600; color: $transluscent-white-2; }
    & ~ .rsvp-no  { font-weight: initial; }
  }

  &-no { font-weight: 600; }

  &-divider {
    display: inline-block;
    margin-left: .2em;
    margin-right: .2em;
  }

  // hide the actual checkbox
  display: none;
}

.form--inline {
  align-self: center;
  margin-bottom: .5em;
  font-size: $font-size-medium;
  color: $transluscent-white;
}

.entry__form {
  text-align: right;
  flex-grow: 1;
}

.masthead__form {
  margin-left: 2em;
  padding-left: 1.5em;
  border-left: 1px solid $transluscent-white;
  text-align: right;
}
