.masthead {
  position: relative;
  height: 340px;
  width: 100%;
  padding: 0 28px;

  // reset for .entry--photo
  &::before {
    border-radius: 0;
  }

  .entry__likes {
    align-self: center;
  }

  .masthead__featured {

    @include caps($color:$transluscent-white);

    height: 24px;
    align-self: center;

    border-bottom: 2px solid $transluscent-white;
  }

  .masthead__content__left  { flex: 0 0 80%; }
  .masthead__content__right { flex: 0 0 20%; }

  .masthead__content__title {
    margin-bottom: .25em;
  }

  .masthead__content__time {
    font-size: $font-size-medium;
    color: $transluscent-white;
  }

  .masthead__content__nav {
    list-style: none;
    text-align: right;
    color: $transluscent-white;
    font-size: $font-size-medium;
  }

  li {
    margin-bottom: .5em;
  }

  .is-active {
    color: white;
  }
}
