.nav {

  background-color: white;
  box-shadow: 0 0 1px rgba(0,0,0,.1);
  padding-left: 28px;
  padding-right: 28px;
  display: flex;
  align-items: center;

  @media screen and (max-width: 480px) {
    flex-wrap: wrap;
  }

  &__title {
    order: 1;
    flex-grow: 2;

    @media screen and (max-width: 480px){
      flex: 0 0 100%;
    }
  }

  &__actions {
    order: 2;
    flex-grow: 8;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: 480px){
      flex: 0 0 100%;
    }
  }

  &__menu__alpha { order: 1; }
  &__menu__beta  { order: 2; }

  &--alpha {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;

    .nav__link::after {
      position: absolute;
      height: 2em;
      right: 0;
      width: 1px;
      content: "";
      display: block;
      background-color: #eee;
      top: 50%;
      margin-top: -1em;
    }

    .nav__link.is-active::after {
      display: none;
    }

    .nav__link:hover::after {
      display: none;
    }

    .nav__item:last-child .nav__link::after {
      display: none;
    }
  }

  &--beta {
    .nav__title {
      font-size: $font-size-large;
    }

    .nav__actions {
      justify-content: flex-end;
    }

    .nav__item {
      margin-left: .5em;
    }
  }

  &__title {
    color: #333;
    font-size: $font-size-title;
    line-height: 80px;
    height: 100%;
  }

  &__list {

    margin-left: -$global-space-unit;

    display: flex;
    align-items: center;

    &--inline {
      display: inline-flex;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    @include transition(background-color .2s ease-in-out);

    position: relative;
    display: block;
    padding: 0 17px;
    height: 100%;

    font-weight: 600;
    font-size: $font-size-medium;
    line-height: 80px;

    color: #666;

    &:hover {
      color: white;
      background-color: $link-hover-color;
    }

    &.is-active {
      color: white;
      background-color: $link-active-color;
    }
  }
}

.nav-sort-header {
  @include caps($color: #aaa, $letter-spacing: 1px);
  margin-right: 2em;
}
