.tag {
  font-weight: 600;
  &--red    { color: $tag--red--color;    }
  &--orange { color: $tag--orange--color; }
  &--blue   { color: $tag--blue--color;   }
  &--teal   { color: $tag--teal--color;   }
}
